# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# Produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# Other
*.feather
*.Rdata.gz
*.so
*.o
*.pdf
*.png
*.rds
*.rda
Session.vim
portfolio/data-generated/strategies.csv

*.aux

*.fdb_latexmk

*.fls
*.bbl
*.blg
portfolio/text/ms.md
portfolio/text/ms.tex
*.synctex.*

*.log

*.gz

*.html
*.zip

data/cfec_070616
portfolio/cache/*

portfolio/text/supp.tex

*.rtf

*.docx
