# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# Produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# Other
*.feather
*.Rdata.gz
*.so
*.o
*.pdf
*.png
*.rds
*.rda
Session.vim
portfolio/data-generated/strategies.csv

*.aux

*.fdb_latexmk

*.fls
*.bbl
*.blg
portfolio/text/ms.md
portfolio/text/ms.tex
*.synctex.*

*.log

*.gz

*.html
*.zip

data/cfec_070616
portfolio/cache/*

portfolio/text/supp.tex

*.rtf

*.docx

pfxr/.DS_Store

portfolio/data-generated/.DS_Store

portfolio/analysis/.DS_Store

portfolio/figs/.DS_Store

salmon/.DS_Store

salmon/analysis/.DS_Store

portfolio/.DS_Store

pfxr/R/.DS_Store

diversity/.DS_Store

data/.DS_Store

diversity/analysis/.DS_Store

salmon/paper/.DS_Store

salmon/paper/salmon_paper_appendix_cache/latex/unnamed-chunk-3_5a43deaf192939a8b5155e904ce00f32.rdx

*.rdb

*.RData

*.rdx

salmon/paper/salmon_paper_appendix_cache/latex/__packages

diversity/analysis/people_v_boat.R

.DS_Store

totPounds.csv

salmon/analysis/model-linear.RdataTmp

salmon/data-generated/~$PNP Hatchery Return Data 1977-2015.xlsx

salmon/data-generated/PNP Hatchery Return Data 1977-2015.xlsx

portfolio/text/abstract.md

*.out

*.xwm

portfolio/text/anderson-rev-pfx-cover.tex

pounds_by_stat6.csv

refs.bib

salmon/analysis/varfunc_fishery2.R

salmon/analysis/varfunc_avg_people.R

salmon/analysis/hatchery_var_rw.stan

salmon/analysis/hatchery_var.stan

salmon/analysis/varfunc_fishery.R

salmon/analysis/varfunc_region.R
